<!-- <p>Edit Exam</p>

<input [(ngModel)] = "exam.content" >
<span>{{exam.content}}</span>
<button (click)="save()"><label>Save</label></button> -->

<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Quiz-Manager by Tilak </title>  
  
    <h1 style="text-align: center;"> List of Exams </h1>  
    <form>  
        <div class="container">      
            <!-- <button type="button" (click) = "openExam()" class="showExam"> Cancel</button>    -->
        </div>   
    </form>
    <div>
    <table class="examtable">
        <tr *ngFor="let item of exams; let i = index" (click)="btnIndex($event)" style="position: relative;background-color: rosybrown; ">
          <td style="width: 50px; text-align:center;">{{ i + 1 }}</td>
          <td style="padding: 10px;">{{ item.e_title }}</td>
        </tr>
      </table> 
    </div>
      